<!doctype html>
<title>Smoked Pi</title>
<script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>

<div align="center">
	<object id="smoker-svg" type="image/svg+xml" data="static/smoker.svg"></object>
	</object>
</div>

<input id="button1" type="button" value="Update"
            onclick="startMonitor()"/>

<script type=text/javascript >

	function startMonitor() {
		setInterval(updateValues, 1000);
	}

    function updateValues() {
		$.getJSON('/temps/', function (data) {
			flipBlinker();
			$.each(data, function ( location, item ) {
				$.each(item, function (i, item) {
					var svg = document.getElementById('smoker-svg').contentDocument
					if (i === 'temperature') {
						svg.getElementById(location).textContent=item
					} else if ( i === 'change') {
						setTempChange(location, item)
					} else if ( i === 'last_update' ) {
						stale_icon =  svg.getElementById(location + '_stale');
						if (item > 3) {
							stale_icon.setAttribute('visibility', 'visible')
						} else {
							stale_icon.setAttribute('visibility', 'hidden')
						}
					}
				})
			})
		});
    }

	function flipBlinker() {
		var svg = document.getElementById('smoker-svg').contentDocument
		blinker = svg.getElementById('activity_blinker');
		if (blinker.getAttribute('visibility') === 'hidden') {
			blinker.setAttribute('visibility', 'visible');
		} else {
			blinker.setAttribute('visibility', 'hidden');
		}
	}

	function changeTempDelta(id, amount, colour) {
		var svg = document.getElementById('smoker-svg').contentDocument
		widget = svg.getElementById(id)
		bbox = widget.getBBox()
		wX = bbox.x+(bbox.width/2)
		wY = bbox.y+(bbox.height/2)
		widget.setAttribute('transform', 'translate('+wX+' '+wY+') scale('+amount+' '+amount+') translate('+-wX+' '+-wY+')')
		widget.style.fill=colour
	}

	function setTempChange(location, change) {
		var svg = document.getElementById('smoker-svg').contentDocument
		svg.getElementById(location + '_change').setAttribute('visibility', 'visible')
		if (change > 5) {
			changeTempDelta(location + '_change', 2, 'brown')
		} else if (change > 2) {
			changeTempDelta(location + '_change', 1, 'red')
		} else if (change > 0.5) {
			changeTempDelta(location + '_change', 0.5, 'yellow')
		} else if (change < -5) {
			changeTempDelta(location + '_change', -2, 'darkblue')
		} else if (change < -2) {
			changeTempDelta(location + '_change', -1, 'blue')
		} else if (change < -0.5) {
			changeTempDelta(location + '_change', -0.5, 'aqua')
		} else {
			svg.getElementById(location + '_change').setAttribute('visibility', 'hidden')
		}
	}

</script>

