<!doctype html>
<html>

<head>

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

li a {
    display: block;
    color: #000;
    padding: 6px 6px 6px 6px;
    text-decoration: none;
}

li a.active {
    background-color: #919191;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.block {
	display: inline-block;
	vertical-align: top;
}

.control {
	display: inline-block;
	width: 47%;
	text-align: center;
	font-size: 200%;
	padding: 0 0 10px 0;
}

.control:hover {
	cursor: pointer;
    background-color: #555;
	color: white;
}

.active {
    background-color: light-grey;
    color: red;
}

</style>
</head>
<body>
<title>Smoked Pi</title>

<script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>

<div class="block">
<ul>
  <div id="startMonitor" class="control" onclick="startMonitor()">▶ </div>
  <div id="stopMonitor" class="control" onclick="stopMonitor()">◼</div>
  <li><a id="overview_nav" href="/">Overview</a></li>
  <li><a id="logging_nav" href="logging">Logging</a></li>
  <li><a id="settings_nav" href="settings">Settings</a></li>
</ul>


</div>

<div class="block">
{% block body %}{% endblock %}
</div>

<script type=text/javascript >

	var refreshIntervalId;

	function startMonitor() {
		refreshIntervalId = setInterval(updateValues, 500);
		document.getElementById('startMonitor').className="control active";
	}

	function stopMonitor() {
		clearInterval(refreshIntervalId);
		document.getElementById('startMonitor').className="control";
	}

    function updateValues() {
		$.getJSON('/temps/', function (data) {
			flipBlinker();
			$.each(data, function ( sensor, data) {
				changeGauge(sensor, data);
			})
		});
    }

	function flipBlinker() {
		var svg = document.getElementById('smoker-svg').contentDocument
		blinker = svg.getElementById('activity_blinker');
		if (blinker.getAttribute('visibility') === 'hidden') {
			blinker.setAttribute('visibility', 'visible');
		} else {
			blinker.setAttribute('visibility', 'hidden');
		}
	}

	function changeTempDelta(id, amount, colour) {
		var svg = document.getElementById('smoker-svg').contentDocument
		widget = svg.getElementById(id)
		bbox = widget.getBBox()
		wX = bbox.x+(bbox.width/2)
		wY = bbox.y+(bbox.height/2)
		widget.setAttribute('transform', 'translate('+wX+' '+wY+') scale('+amount+' '+amount+') translate('+-wX+' '+-wY+')')
		widget.style.fill=colour
	}

    function changeGauge(gauge, data) {
		temp=data['temperature']
		degreeFactor=0.9
		if (gauge === 'gauge_1' || gauge == 'gauge_2') {
			degreeFactor=2.7
		}
		degrees=(Number(temp['c']) * degreeFactor) - 135
		if (degrees < -170) {
			degrees = -170
		}
		else if (degrees > 170) {
			degrees = 170
		}
		var svg = document.getElementById('smoker-svg').contentDocument;
		svg.getElementById(gauge + '-needle').setAttribute("transform", "rotate("+degrees+" 200 200)");
		svg.getElementById(gauge + '-temp_c').textContent=temp['c'];
		svg.getElementById(gauge + '-temp_f').textContent=temp['f'];
		lastUpdate=data['last_update']
		changeTempRange(gauge, degreeFactor, data['max_temp'], data['min_temp']);
		changeStatus(gauge, data['status']);
    }

	function changeTempRange(gauge, degreeFactor, max, min) {
		var svg = document.getElementById('smoker-svg').contentDocument;
		var radius = 192.5
		var degrees = (max - min) * degreeFactor
		x = (Math.cos(degrees/180*Math.PI) * radius) - radius
		y = (Math.sin(degrees/180*Math.PI) * radius) * -1
		rotate=-225+(degrees / 2)+(((max+min)/2)*degreeFactor)
		pathDef="M 200,200 l 192.5,0 a 192.5,192.5 0 0, 0 "+x+", "+y+" z"
		svg.getElementById(gauge + '-temp_range').setAttribute('d', pathDef)
		svg.getElementById(gauge + '-temp_range').setAttribute('transform', 'rotate('+rotate+' 200 200)')
	}

	function changeStatus(gauge, currentStatus) {
		errorVis = 'hidden'
		noConVis = 'hidden'
		offlineVis = 'hidden'
		if (currentStatus === 'offline') {
			noConVis = 'visible'; offlineVis = 'visible';
		} else if (currentStatus === 'error') {
			errorVis = 'visible'; offlineVis = 'visible';
		}
		var svg = document.getElementById('smoker-svg').contentDocument;
		svg.getElementById(gauge + '-offline').setAttribute('visibility', offlineVis)
		svg.getElementById(gauge + '-no_connection').setAttribute('visibility', noConVis)
		svg.getElementById(gauge + '-error').setAttribute('visibility', errorVis)
	}

</script>

{% if self.navname() %}
    <script>
        document.getElementById('{% block navname %}{% endblock %}' + '_nav').setAttribute('class', 'active')
    </script>
{% endif %}


</body>
</html>
